In [1]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

In [3]:
corsi.append("Frontend")

In [5]:
corsi.append("Cybersecurity")

In [9]:
len(studenti)

8

In [11]:
len(corsi)

8

In [7]:
print(corsi)

['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Frontend', 'Cybersecurity']

In [15]:
x = "amore"

In [127]:
x = input()
prime_lettere = x[0:3]
ultime_lettere = x[-3:]
punti = "..."
print(prime_lettere + punti + ultime_lettere)

 calcolatrice

cal...ice

In [135]:
auto = {"Ada":"Punto","Ben":"Multipla","Charlie":"Golf","Debbie":"107"}
print(auto)
auto["Debbie"]

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107'}

'107'

In [141]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}
print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1'}

In [139]:
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

In [147]:
dizionario_auto.update(nuovi_proprietari)
print(dizionario_auto)
#nel dizionario aggiornato Ben guida una Polo anzich√® una Multipla

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

In [157]:
numeri = [13,16,20,56,21,90,64,31,44,102]
print(max(numeri))
print(min(numeri))

102
13

In [159]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]
squadra1 = studenti[::2]
squadra2 = studenti[1::2]
print(squadra1)
print(squadra2)

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [20]:
nome_scuola = "Epicode"
lunghezza = len(nome_scuola)
i = 0
while i < lunghezza:
    print(nome_scuola[i])
    i += 1

E
p
i
c
o
d
e

In [22]:
x = 0
while x <= 20:
    print(x)
    x +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [26]:
x = 0
while x <= 10:
    print(2**x)
    x += 1

1
2
4
8
16
32
64
128
256
512
1024

In [46]:
x = 0
y = input("inserire il numero di potenze:")
y = int(y)
while x <= y:
    print (2**x)
    x += 1

inserire il numero di potenze: 5

1
2
4
8
16
32

In [56]:
x = 2
while x <= 25000:
    print(x)
    x *= 2

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384

In [12]:
x = input("inserisci un numero:")
x = int(x)
y = 1
while y <= x:
    z = x / y
    if z % y == 0:
        print(z)
    y += 1

inserisci un numero: 1000

1000.0
500.0
200.0
100.0

In [30]:
nome_scuola = "Epicode"
for x in nome_scuola:
    print(x)

E
p
i
c
o
d
e

In [10]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
somma = 0
divisore = len(guadagni)
for guadagno in guadagni:
    somma += guadagno
print(somma / divisore)

70.0

In [22]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"]
for parola in parole:
    e = 0
    for lettera in parola:
        if lettera == "E" or lettera == "e":
            e += 1
    print("per la parola", parola, "sono presenti", e ,"E/e")

per la parola Albergo sono presenti 1 E/e
per la parola Sedia sono presenti 1 E/e
per la parola Borgo sono presenti 0 E/e
per la parola Petalo sono presenti 1 E/e
per la parola Eremo sono presenti 2 E/e
per la parola Belvedere sono presenti 4 E/e
per la parola Semestre sono presenti 3 E/e
per la parola Esteta sono presenti 2 E/e
per la parola Sosta sono presenti 0 E/e
per la parola Orpello sono presenti 1 E/e
per la parola Abete sono presenti 2 E/e
per la parola Orologio sono presenti 0 E/e
per la parola Cesta sono presenti 1 E/e
per la parola Ermellino sono presenti 2 E/e

In [71]:
numeri = [5, 2, 3, 4]
for numero in numeri:
    print("*" * numero)

*****
**
***
****

In [101]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
lista = []
for codice in lista_cf:
    if "95" in codice:
        cognome = codice[:3]
        nome = codice[3:6]
        print("cognome:",cognome,"nome:",nome)
        lista.append(codice)
print(lista)

cognome: ABC nome: DEF
cognome: STU nome: VWX
cognome: DEF nome: GHI
['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']